header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100vw;
}

.above {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout {
  color: #4A9BE5;
  border: none;
  background: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-left: 10px;
  padding: 0 49px;
}

thead {
  text-align: left;
  background: #E8E8E8;
  border: none;
  height: 50px;
}

.wonder {
  border-radius: 5px 5px 0px 0px;
  padding: 8px;
}

.table {
  position: absolute;
  left: 44px;
  top: 351px;
  table-layout: fixed;
  border-collapse: collapse;
}

.rank {
  text-align: left;
  height: 30px;
  width: 136px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-size: 20px;
  padding-left: 8px;
}

.city {
  text-align: left;
  height: 30px;
  width: 308px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.points {
  text-align: left;
  height: 30px;
  width: 136px;
  height: 30px;

  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
}

.TBK {
  text-align: left;
  height: 30px;
  width: 170px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

}

h1 {
  position: relative;
  margin-right: auto;
  padding: 0 44px;
}

tr {
  border: none;
}

.view {
  position: absolute;
  display: flex;
  gap: 20px;
  left: 44px;
  top: 149px;
  font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
}

.move {
  position: relative;
}

h2 {
  position: absolute;
  width: 588px;
  height: 60px;
  left: 44px;
  top: 225px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin: 0px;
}

h3{
  position: absolute;
width: 699px;
height: 45px;
left: 44px;
top: 278px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 45px;
margin: 0px;


color: #767676;
}
.rowOdd {
  background: #F5F5F5;
}
.rowEven {
  background: #FCFCFC;
}